/*General*/
* {
    margin: 0px;
    padding: 0px;
    
}
html{
    background-image: url(img/Boekenkast.jpeg);
    background-size: cover;
}
h1{
    font-size: 150%;
    padding-bottom: 10px;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255,201,14); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255,201,14); 
}

/*Body*/
.bodyBack{
    background-color: white;
    position:fixed;
    left:32.5%;
    width:35%;
    border: 10px solid green;
    border-radius: 50px;
    width:500px;
            }
.bodytext{
    margin-left: 10px;
    text-align: center;
    font-family: 'Acme', sans-serif;
	font-size: 300%;
    padding-bottom: 10px;
    padding-top: 10px;
    max-height:300px;
    overflow-y:scroll;
}
input{
    text-align: left;
    font-family: 'Chicle', cursive;
	font-size: 55%;
	color: black;
}
input[type=number]{
    width: 45px;
} 
select{
    text-align: center;
    font-family: 'Chicle', cursive;
	font-size: 55%;
	color: black;
}
.register{
    background-color: white;
    text-align: center;
    font-family: 'Chicle', cursive;
	font-size: 200%;
	color: black;
    position:fixed;
    top:25%;
    left:30%;
    width:40%;
    border: 3px solid green;
    border-radius: 50px;
}
.Title{
    font-weight: 900;
}
/*Oefeningen*/
.Oefening{
    background-color: white;
    text-align: center;
    font-family: 'Chicle', cursive;
	font-size: 300%;
	color: black;
    position:fixed;
    top:35%;
    left:30%;
    width:500px;
    border: 3px solid green;
    border-radius: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/*Buttons*/
button{
    font-size: 100%;
    font-family: 'Chicle', cursive;
    padding-left: 10px;
    padding-right: 10px;
}
.button{
    border: 1px solid Black;
    padding-left: 10px;
    padding-right: 10px;
}
button[disabled]{
  border: 1px solid black;
  color: black;
}

.AdminBtn{
    margin-bottom:  3px;
}
/*Placeholders*/
::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
    color: lightgray;
    font-family: serif;
}
::-moz-placeholder { /* Firefox 19+ */
    color: lightgray;
    font-family: serif;
}
:-ms-input-placeholder { /* IE 10+ */
    color: lightgray;
    font-family: serif;
}


/*Acc kader*/
.Account{
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(255,201,14);
    font-family: 'Chicle', cursive;
	font-size: 200%;
	color: black;
    position:fixed;
    top:2%;
    left:80%;
    width:100px;
    height: 128px;
    border: 3px solid orange;
    border-radius: 50px;
}
.Picture{
    width: 50%;
    float: left;
}
.Naam{
    padding-left: 10px;
    width: 100%;
}

/* Result */
.Vraag{
    float: left;
    padding-left: 25%;
    /* //margin-right: 20px; */
}
.Antwoord{
   float: right; 
   padding-right: 25%;
   
}
.it{
    font-size: 50% !important;
}

/* leerkrach */

.NaamO{
    padding-bottom: 25px;
}